body{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    margin: 0; 
    justify-content: space-between;
    height: 100vh;   
}

html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 1rem;
    background: transparent;
  }

.main{
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

.main-header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}

#arrow{
    left: 3rem;
    position: absolute;
}
#main-header-text{
    position: inherit;
}

.card-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 3.75rem 1.5rem;
    padding: 3rem;
}

.card{
    display: flex;
    justify-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.card-image-box{
    display: flex;
    position: relative;
    justify-content: center;
    width: auto;
}

.card-image{
    width: 19.875rem;
    height: 15.625rem;
    border: 0;
    position: relative;
}

.quantity-buttons{
    background-color: #64008A;
    display: flex;
    flex-direction: row;
    width: 19.875rem;
    height: 2.125rem;
    justify-content: center;
    z-index: 1;
    position: absolute; 
    bottom:0%;
    border-radius: 0 0 16px 16px;
    align-items: center;
    gap: 1.25rem;
}

.quantity-buttons button{
    background-color: transparent;
    border: 0;
    font-size: 1.5rem;
}

.card-info{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#first-item{
    text-align: center;
    height: auto;
    background-color: transparent;
    border: 0;
}

  @media screen and (min-width: 720px) and (max-width: 900px) {
    .main{
        gap: 3rem;
    }
    .card-box{
        display: flex;
        flex-direction: column;
        padding: 0;
    }


  }
  
  @media screen and (min-width: 200px) and (max-width: 721px) {
    .main{
        gap: 3rem;
        padding-left: 0;
        padding-right: 0;
    }
    .card-box{
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .card{
        display: flex;
        flex-direction: column;
    }

  }