body{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    margin: 0; 
    justify-content: space-between;
    height: 100vh;  
    min-height: 100vh; 
}

html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 1rem;
    background: transparent;
  }

.container{
    display:flex; 
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh;
}

.main{
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

.main-header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}

#main-header-text{
    font-size: 2rem;
    font-weight: 700;
    color: #64008A;
}

#arrow{
    left: 3rem;
    position: absolute;
}
#main-header-text{
    position: inherit;
}


.card-box{
    display: flex;
    
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 3.75rem 1.5rem;
    padding: 3rem;
    justify-items: center;
    justify-content: center;
}

.card{
    display: flex;
    justify-items: center;
    justify-content: center;
    gap: 1.5rem;
    flex: 1;
    
}

.card-image-box{
    display: flex;
    position: relative;
    justify-content: center;
}

.card-image{
    width: 19.875rem;
    height: 15.625rem;
    border: 0;
    position: relative;
    border-radius: 16px;
}

.quantity-buttons{
    background-color: #64008A;
    display: flex;
    flex-direction: row;
    width: 19.875rem;
    height: 2.125rem;
    justify-content: center;
    z-index: 1;
    position: absolute; 
    bottom:0%;
    border-radius: 0 0 16px 16px;
    align-items: center;
    gap: 1.25rem;
    
}

.quantity-buttons input, button {
    color: #FFFFFF;
    font-size:1.5rem;
}
.quantity-buttons button{
    background-color: transparent;
    border: 0;
}

.card-info{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height:fit-content;
    /* justify-content: space-between; */
    flex: 1;
}

#first-item{
    text-align: center;
    height: auto;
    background-color: transparent;
    border: 0;
}

.item-name{
    font-size: 1.5rem; 
    font-weight: 500;
}

.item-value{
    font-weight: 500;
}

@media screen and (min-width: 1600px){
    .card-info{
        min-width: 20rem;
        max-width: 25rem;
    }
}

@media screen and (min-width: 899px) and (max-width: 1300px){
    .card-box{
        padding-left: 0;
        padding-right: 0;
    }

    .card-info{
        max-width: 20rem;
    }
}

@media screen and (min-width: 720px) and (max-width: 900px) {
    .card-box{
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .card-info{
        max-width: 20rem;
    }
}

@media screen and (min-width: 200px) and (max-width: 721px) {
    .main{
        gap: 3rem;
        padding-left: 0;
        padding-right: 0;
    }
    .card-box{
        display: flex;
        flex-direction: column;
        padding: 0;
        align-content: center;
        align-items: baseline;
    }

    .card{
        display: flex;
        flex-direction: column;
        border-radius: 16px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        gap: 0;
    }

    .card-info{
        padding-left: 1.5rem;
        max-width: 11rem;
        padding: 1rem;
        justify-content: space-evenly;
        gap: 1rem;
    }
}