.modal {
    display: none;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
}

.modalHeader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.h2Cart {
    font-size: 32px;
    width: 100%;
    text-align: center;
    color: #64008A;
}

.main-cart{
    height: 100%;
}

.main-cart section{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    justify-content: space-between;
}

.modal-content {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    padding: 2.5rem;
    border: 1px solid #888;
    width: 32rem;
    height: 40rem;
    max-height: 80%;
    margin: 0;
}

.cart-header{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: #64008A;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.products{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: 500;
}

.products span{
    margin-top: 40px;
}

.card-item{
    display: flex;
    gap: 1.5rem;
    margin-top: 40px;
}

.item-info{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 1rem;
}

.quantity-buttons-cart {
    background-color: #64008A;
    display: flex;
    flex-direction: row;
    width: 7.5rem;
    height: fit-content;
    justify-content: space-evenly; 
    border-radius: 4px;
    align-items: center;
}

.quantity-buttons-cart form
{
    height: 100%;
    display: flex;
    padding: 0;
    align-items: center;
}

.first-item-cart, 
#minus-cart, 
#add-cart
{
    color: #FFFFFF;
    font-size: 20px;
}

.first-item-cart:hover, 
#add-cart:hover, 
#minus-cart:hover
{
    background-color: #36004b;
}

#minus-cart, 
#add-cart
{
    background-color: transparent;
    border: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    transition: .3s;
}

#go-to-payment{
    background-color: #64008A;
}

#go-to-payment:hover{
    background-color: #310144;
    transition: .3s;
}

.first-item-cart{
    text-align: center;
    background-color: transparent;
    border: 0;
    width: 30px;
    padding: 0;
}

.item-image{
    height: 8.25rem;
}

.continueShopping{
    width: 100%;
    display: flex;
    font-size: 24px;
    font-weight: 500;
    flex-direction: column;
    gap: 40px;
    text-align: center;
}

#go-to-payment{
    font-family: 'Montserrat', sans-serif;
    background-color: #64008A;
    color: white;
    font-weight: 700;
    width: 100%;
    border: none;
    border-radius: 4px;
    height: 32px;
    cursor: pointer;
    transition: .3s;
}

#go-to-payment:hover{
    background-color: #310144;
    transition: .3s;
}
