header{
    background-color: #64008a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5rem 0 2.5rem;
    font-size: 1rem;
}

header a{
    margin: 0;
}

header ul li a{
    color: #fff;
    text-decoration: none;
    margin-top:0;
}

#sairHeader{
    display: none;
    color: white;
    cursor: pointer;
}

#loggedButtons{
    display: flex;
    align-items: center;
    gap: 40px;
    height: fit-content;
}

#loggedButtons button{
    background-color: transparent;
    height: 40px;
    all: unset;
    cursor: pointer;
}

#loggedButtons button img{
    height: 32px;
}

header ul{
    list-style: none;
    max-width: 70%;
    display: flex;
    align-items: center;
    gap: 5rem;
}

#ourProducts{
    font-weight: bold;
}

@media (max-width: 950px){
    header ul{
        max-width: 100%;
        gap: 2rem;
    }
}

@media (max-width: 700px){
    header ul{
        max-width: 100%;
        gap: 1rem;
    }
}

